.cart-page {
  margin-top: 65px;
  width: 1280px;
}

.cart-page button {
  background-color: white;
  border: 1px solid rgba(50, 51, 52, 1);
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  width: 124px;
}

.cart-buttons {
  display: flex;
}

table {
  border: none;
  border-spacing: 22px;
}

td,
tr,
th {
  border: none;
}

.cart-page h2 {
  text-align: center;
  margin: 40px 0;
}

.cart-page h6 {
  text-align: center;
  font-weight: 200;
  font-size: 18px;
}

th {
  text-align: left;
}

.cart-page .pay {
  background-color: rgba(50, 51, 52, 1);
  color: white;
  margin-right: 20px;
  width: 350px;
}

.total {
  font-size: 18px;
  font-weight: 600;
  text-align: right;
  margin-bottom: 0px;
}

.change-buttons-container {
  display: flex;
  align-items: center;
}

.change-buttons-container button {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 10px ;
}
