.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header h1 {
    font-size: 28px;
    font-weight: 600;
}

.header-block {
    display: flex;
    align-items: center;
}

.cart {
    margin-right: 33px;
}

.header button {
    background-color: white;
    border: 1px solid rgba(50, 51, 52, 1);
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    width: 124px;
}

.header img {
    height: 25px;
    width: 28px;
    display: block;
    margin-right: 8px;
}